@import "variables.scss";


.movieBanner,
.genreImageDiv {
  height: 150px;
  border-radius: $borderRadiusNav;
  background-size: cover;
  text-align: right;
  overflow: hidden;

  position: relative;
  top: 0;

  animation: movieScale 0.3s ease-out;
  transition: all 1s;
  aspect-ratio: 1;
  cursor: pointer;
}

@keyframes movieScale {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bannerScale {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform:scale(1.1,1.1);
  }
}

@keyframes bannerScaleBack {
  0% {
    transform:scale(1.1,1.1);
  }
  100% {
    transform:scale(1,1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.movieBanner {
  max-width: 100px;
  background-size: cover;
  position: relative;
  overflow: visible;
  margin: auto;
  box-shadow: 0px -5px 7px 0px rgba(0, 0, 0, 0.37);

}
.yourlist {
  background-position: 0px -30px;
  background-size: cover;
}
.genreBanner {
  height: auto;
  position: relative;

  .genreImageDiv {
    height: 100px;
    width: 100%;
    box-shadow: 0px -5px 7px 0px rgba(0, 0, 0, 0.37);
    border-radius: $borderRadiusNav;
  }
  h2 {
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.39);
    font-family: "Archivo";
    font-size: 15px;
    letter-spacing: 0.08em;
    font-weight: 500;
  }

  .genreGradient {
    width: 100%;
    height: 100px;
    border-radius: $borderRadiusNav;

    position: absolute;
    top: 0;
    z-index: 11;

    background: linear-gradient(180deg, rgba(15, 123, 161, 0) 20%, rgba(15, 11, 46, 0) 60%, #100c30 100%);
  }

  .genreName {
    position: relative;
    bottom: 0;
    // right: 0;
    padding: 5px 0px;
    margin-right: 10px;
    color: $lightFont;
    z-index: 10;

    @include bodyFont();
  }
}

.titleDiv {
  position: absolute;
  bottom: -10%;
  right: -40%;
  height: 50%;
  background-color: rgba(211, 211, 211, 0.7);
  width: 150%;
  transform: rotate(-20deg);
}

.zoomIn {
  z-index: 16000;
  pointer-events: auto;
  filter: blur(0px);
  transform: scale(1.1 , 1.1);
  // margin-bottom:70px;
  transition: all 1s;
  // animation: bannerScale 1s forwards;
}

.messageToUser {
  position: fixed;
  bottom: 70px;
  width: 100%;
  z-index: 1000;
  background: black;
  padding: 10px;

  p {
    text-align: center;
    color: white;
    @include bodyFont();
  }
}
