@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Mulish&family=Nunito+Sans&family=Source+Sans+Pro&display=swap");
.movieBanner,
.genreImageDiv {
  height: 150px;
  border-radius: 3px;
  background-size: cover;
  text-align: right;
  overflow: hidden;
  position: relative;
  top: 0;
  -webkit-animation: movieScale 0.3s ease-out;
          animation: movieScale 0.3s ease-out;
  -webkit-transition: all 1s;
  transition: all 1s;
  aspect-ratio: 1;
  cursor: pointer;
}

@-webkit-keyframes movieScale {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes movieScale {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes bannerScale {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
}

@keyframes bannerScale {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
}

@-webkit-keyframes bannerScaleBack {
  0% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes bannerScaleBack {
  0% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.movieBanner {
  max-width: 100px;
  background-size: cover;
  position: relative;
  overflow: visible;
  margin: auto;
  -webkit-box-shadow: 0px -5px 7px 0px rgba(0, 0, 0, 0.37);
          box-shadow: 0px -5px 7px 0px rgba(0, 0, 0, 0.37);
}

.yourlist {
  background-position: 0px -30px;
  background-size: cover;
}

.genreBanner {
  height: auto;
  position: relative;
}

.genreBanner .genreImageDiv {
  height: 100px;
  width: 100%;
  -webkit-box-shadow: 0px -5px 7px 0px rgba(0, 0, 0, 0.37);
          box-shadow: 0px -5px 7px 0px rgba(0, 0, 0, 0.37);
  border-radius: 3px;
}

.genreBanner h2 {
  height: 100%;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.39);
  font-family: "Archivo";
  font-size: 15px;
  letter-spacing: 0.08em;
  font-weight: 500;
}

.genreBanner .genreGradient {
  width: 100%;
  height: 100px;
  border-radius: 3px;
  position: absolute;
  top: 0;
  z-index: 11;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, rgba(15, 123, 161, 0)), color-stop(60%, rgba(15, 11, 46, 0)), to(#100c30));
  background: linear-gradient(180deg, rgba(15, 123, 161, 0) 20%, rgba(15, 11, 46, 0) 60%, #100c30 100%);
}

.genreBanner .genreName {
  position: relative;
  bottom: 0;
  padding: 5px 0px;
  margin-right: 10px;
  color: #eeeeee;
  z-index: 10;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

.titleDiv {
  position: absolute;
  bottom: -10%;
  right: -40%;
  height: 50%;
  background-color: rgba(211, 211, 211, 0.7);
  width: 150%;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.zoomIn {
  z-index: 16000;
  pointer-events: auto;
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.messageToUser {
  position: fixed;
  bottom: 70px;
  width: 100%;
  z-index: 1000;
  background: black;
  padding: 10px;
}

.messageToUser p {
  text-align: center;
  color: white;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

.movieBanner .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: black;
  position: absolute;
  z-index: 20000;
  min-width: 100%;
  top: 104%;
}

.movieBanner .options button {
  border: none;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  border-radius: 30px;
  padding: 5px;
  background: linear-gradient(63.8deg, #ef9d1a 10.76%, #fd047c 94.55%);
  color: #eeeeee;
  margin-top: 5px;
}

.movieBanner .options button:first-child {
  margin-bottom: 5px;
}
/*# sourceMappingURL=banners.css.map */