@import "variables.scss";

//slideshow
.slideshow-container {
    width: 100vw;
    height: 250px;
    // margin: auto;
    overflow: hidden;
}
  
.slideshow {
    display: flex;
    // justify-content: center;
    width: 100vw;
    height: inherit;
    position: relative;

  
    div{
        width: 100vw;

        div{
            height: 100%;
            width: 100vw;
            background-position: center;
            background-size: cover;
        }
    }
}

.slideMovieDiv {
    position: relative;
}

.movieNameTr {
    position: absolute;
    top: calc(250px - 40px);

    p{
        color: white;
        width: 105vw;
        background-color: rgba(128, 128, 128, .5);
        padding: 10px;
    }
}

#genre {
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: $wrapperPadding;
    padding: $wrapperPadding;
}