@import "variables.scss";


.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
}

.userContainer {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding: 0.5vh 0;
    font-family: 'Archivo', sans-serif;
}

.activityContainer {
    background-color: rgb(255, 255, 255);
    flex-grow: 2;
    box-shadow: .2vh .2vh .2vh grey;
    border-radius: .5vh;
    display: flex;
}

.activityContainerLeft {
    padding: 1vh;
    flex-grow: 1;
    flex-basis: 0;
    font-family: 'Mulish', sans-serif;
    display: flex;
    flex-direction: column;
}

.activityContainerRight {
    border-radius: 0vh .5vh .5vh 0vh;
    flex-grow: 1.5;
    flex-basis: 0;
    background-size: cover;
    background-position: center;
    min-height: 100px;
    clip-path: polygon(24% 0, 100% 0, 100% 100%, 0% 100%);
}

.type {
    display: flex;
    align-items: center;
}

.typeText {
    font-size: 15px;
    margin-right: .5vw;
}

.typeIcon {
    height: 60%;
}

.title {
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
}

.userPic {
    height: 4vh;
    width: 4vh;
    border-radius: 50%;
    margin-right: 1.5vh;
    background-size: cover;
}

.username {
    flex-grow: 10;
    display: flex;
    align-items: center;
}

.date {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.comment {
    font-size: 13px;
}

.rate {
    display: flex;
}

.star {
    height: 15px;
}