@import "variables.scss";


.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.userContainer {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding: 0.5vh 0;
    font-family: 'Archivo', sans-serif;
}

.activityContainer {
    background-color: $activityColor;
    flex-grow: 2;
    box-shadow: .2vh .2vh .2vh black;
    border-radius: $borderRadiusObjects;
    overflow: hidden;
    display: flex;
    min-height: 100px;
}

.activityContainerLeft {
    padding: 1vh;
    flex-grow: 1;
    flex-basis: 0;
    font-family: 'Mulish', sans-serif;
    display: flex;
    flex-direction: column;

    #expandComment {
        width: 35px;
        margin: auto;
    }
}

.activityContainerRight {
    flex-grow: 1.5;
    flex-basis: 0;
    background-size: cover;
    background-position: center;
    clip-path: polygon(24% 0, 100% 0, 100% 100%, 0% 100%);
}

.type {
    display: flex;
    align-items: center;

    color: $darkFont;

}

.typeText {
    font-size: 15px;
    margin-right: .5vw;

    color: $darkFont;

}

.typeIcon {
    height: 60%;
}

.title {
    font-family: 'Archivo', sans-serif;
    font-weight: bold;

    color: $darkFont;

}

.userPic {
    height: 4vh;
    width: 4vh;
    border-radius: 50%;
    margin-right: 1.5vh;
    background-size: cover;
}

.username {
    flex-grow: 10;
    display: flex;
    align-items: center;
}

.date {
    color: $lightFont;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.comment {
    font-size: 13px;
    color: $darkFont;
    height: 50px;

    transition: height 1s;
}

.rate {
    display: flex;
}

.star {
    height: 15px;
}