#footer {
    position: relative;
    bottom: 0;
    left:0;
}

.footerContainer {
    padding-bottom:80px;
    background-color: rgb(147, 147, 147);
    display: flex;
}

.footerContainerLeft {
    flex-grow: 1;
    font-size: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerContainerRight {
    flex-grow: 2;
    padding: 10px;
    font-size: 10px;


    display: flex;
    flex-direction: column;
}

.tmdb, .git {
    display: flex;
    padding: 10px;
    align-items: center;

}


.tmdbLogo, .gitLogo {
    width: 30px;
    margin-right: 10px;
}