@import "variables.scss";

.loadingScreen {
    @include flex(column, center, center);
    position: absolute;
    height: 100vh;
    width: 100vw;

    background-color: #1c1452b3;
    z-index: 1000;
}

#loadingAnimation {
    width: 5rem;
    height: 5rem;

    display: block;
    animation: spin 1.5s infinite linear;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}