@import "variables.scss";

// Login
.signInWrap  {
    @include flex(column, center, center);
    gap: $wrapperPadding;

    z-index: 20;
    height: 100vh;
    width: 100vw;
    padding: $wrapperPadding;

    opacity: 10;
    transition: opacity 0.5s;

    div:first-child {
        h1 { @include bigTitleFont();}
        p {@include bodyFont();}
    }

    #createAccount {
        p {margin: 0;}
        span {
            text-decoration: underline;
        }
    }
}

// Form
#loginForm, #signUpForm > fieldset {
    @include flex(column, center, center);
    gap: $betweenPadding;
    width: 100%;

    #input {
        @include flex(column, center, flex-start);
        width: 100%;
        padding: $innerPadding;
        grid-column: 1 / span 2;

        border: 1px solid black;
        border-radius: $borderRadiusButtons;
        background-color: $activityColor;

        label {
            @include xSmallFont();
        }

        input {
            @include bodyFont();
            border: none;
            width: 100%;
            padding: 0 2px;
            background: none;
            
            transition: color 0.5s;
        }
    }

    #buttonWrapper {
        @include flex(row, center, center);
        gap: $betweenPadding;
    }

    button {
        width: 100px;
        height: 30px;

        @include postFont();

        background: $gradientPeach;
        padding: $buttonPadding;
        border-radius: $borderRadiusButtons;
        border: none;
    }
}

// Sign up
#signUpForm {
    z-index: 20;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // @include flex(column, center, center);
    @include transitionFromBottom();

    width: 100vw;
    min-height: 100vh;
}

#signUpForm div:first-child {
    @include flex(row, center, center);
    margin-top: $wrapperPadding;
    h1 { @include bigTitleFont();}
    // flex-basis: 10vh;
}

#signUpForm > fieldset {
    @include flex(column, flex-start, center);
    border: none;

    flex-grow: 1;
    width: 100vw;
    padding: 0 $wrapperPadding $wrapperPadding;
}

#createUserP2 {
    select, option {
        color: $darkFont;
    }

    select, .searchProvider {
        width: 100%;
        height: 35px;
        padding: $innerPadding;
        background-color: $activityColor;
        border: none;
        border-radius: $borderRadiusButtons;
    }

    #fieldSetProviders {
        flex-grow: 1;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: $betweenPadding;

        @include xSmallFont();
        width: 100%;
        border: none;
        max-height: 65vh;

        overflow-y: scroll;

        .providersLabel {
            @include flex(column-reverse, center, center);
            text-align: center;
            height: 80px;

            img {
                height: 30px;
                width: 30px;

                border-radius: 50%;
            }
        }

        .providersLabel.selectedProvider {
            background-color: $activityColor;
            border-radius: $borderRadiusObjects;
        }
    }
}

#createUserP3 {
    #avatars {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $betweenPadding;

        p {
            margin: none;
            @include smallTitleFont();
            grid-area: 1 / span 2;
        }

        label {
            margin: auto;
        }

        label.profileImgSelected {
            background-color: $activityColor;
            border-radius: $borderRadiusObjects;
        }
    }

    #uploadProfilePic {
        @include flex(column, center, flex-start);
        gap: $betweenPadding;
        margin: $wrapperPadding 0;
        p {
            margin: none;
            @include smallTitleFont();
        }

        #fileToUpload {
            width: 100%;
            margin: auto;
        }
    }


    #signInButton {
        width: 120px;
        height: 30px;

        @include postFont();

        background: $gradientPeach;
        padding: $buttonPadding;
        border-radius: $borderRadiusButtons;
        border: none;
    }
}