@import "variables.scss";

#overlay {
    position: relative;
}

#overlay-fade {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba($color: #000000, $alpha: 0.5);
    z-index:900;

    @include flex(row, center, center); 
}

#message-wrapper {
    width: 80%;
    height: 80%;
    background-color: white;

}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

// Button 

// Rating-star
// filled star = \2605
// empty star = \2606

.rating{
    display:flex;
}

.rating li {
    list-style-type: none;
}

.rating-star{
    
    border: 1px solid white;
    cursor: pointer;
    font-size: 2em;
    color: $accentColor;
}

.rating-star::before{
    content: "\2605";
}

.rating-star:hover{
    color: $accentColor;
}

.rating-star.active ~ .rating-star::before {
    color: greY;
}

.rating:hover ~ .rating-star::before {
    content: "\2605";
}
    
.rating-star:hover ~ .rating-star::before {
    color:grey;
}
