@import "variables.scss";

// Allt innehåll ligger i denna overlay (typ som wrapper)
#overlay {
    // position: relative;
    display: flex;
    flex-direction: column;
    background-color: $backgroundColor;
}

// Barn till denna delas upp i tre sektioner
// Alla idn och klasser hittar du om du inspekterar 
// sedan ska overlay vara en display flex, flex-direction column

// 1. movie-profile-header (omslagsbilden) - LINA
// BACKDROP PIC
.movie-profile-backdrop {
    width: 100vw;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.movie-profile-header {
    height: auto;
    position: relative;
}

.movie-profile-gradient {
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: 11;
    background: linear-gradient(180deg, rgba(15, 123, 161, 0) 0%, rgba(15, 11, 46, 0) 71.87%, #0F0B2E 100%);
    height: 200px;
}

// MOVIE INFO
.movie-profile-info{
    padding: $wrapperPadding;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: $wrapperPadding;
    margin-top: -50px;
    z-index: 12;

    .movie-profile-info-poster {
        @include flex(row, flex-start, flex-end);

        .movie-profile-poster{
            width: 100%;
            box-shadow: 5px 5px 5px black;
        }
    }
    
    .movie-profile-info-text {
        font-family: 'Archivo', sans-serif;
        line-height: 1.4;
        @include flex(column, flex-end, flex-start);

        p {
            font-size: 12px;
            color: $fontColor;
        }

        .movie-profile-title {
            font-weight: bold;
            color: $fontColor;
        }
    }
}

// 2. movie-profile-info (film poster, infotext - betyg, premiärs datum, tid samt knapparna) - LINA
#movie-profile-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: $wrapperPadding;
    width: 100%;
}

.watch-later {
    grid-area: 1 / 1 / 2 / 2;

}

.watched {
    grid-area: 1 / 2 / 2 / 3;
}

.review {
    grid-area: 2 / 1 / 3 / 3;

}

.button {
    padding: $wrapperPadding;
    border-radius: 10px;
    border: 0;
    color: whitesmoke;
    background: linear-gradient(40deg, #EF9D1A, #FD047C);
    filter: drop-shadow(0px 0px 2px rgba(239, 157, 26, 0.58));
}

// 2.A sedan ska knapparna kodas när man tryckt på dem, framför allt review - INTE FÄRDIGT I JS, men jag kan fixa detta!

// 3. movie-profile-middle (beskrivning, streaming services, crew + director, reviews(inte klart i JS), similarmovies (elsa har börjat denna style)) - NIKLAS
// DESCRIPTION
.movie-profile-description {
    padding: $wrapperPadding;

    p {
        @include bodyFont();
        color: $fontColor;
        text-align: left;
    }
}

// STREAMING SERVICES
.movie-profile-streamingservices {
    padding: $wrapperPadding;

    h4{
        color: $fontColor;
        @include smallTitleFont();
        padding-bottom: $wrapperPadding;
    }
    .movie-profile-streaming-services-grid {

        @include flex(row, flex-start, center);
        gap: $wrapperPadding;

        img{
            border-radius: 200px;
            height: 10vw; 
            width: 10vw;
            margin-right: $wrapperPadding;
            filter: grayscale(100%);
        }

        .active-streming-service{
            filter: grayscale(0%);
            box-shadow: 0px 0px 2px rgba(239, 157, 26, 0.58);
        }

        img:last-child {
            margin-right: 0px;
        }

        p{
            color: $fontColor
        }
    }
}

// CREDITS
.movie-profile-credits {
    // grid - column, 2fr
    padding: $wrapperPadding;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $wrapperPadding;

    .movie-profile-cast {
        @include flex(column, flex-start, flex-start);
        h4{
            color: $fontColor;
            @include smallTitleFont();
            padding-bottom: $wrapperPadding;
        }
    }

    .movie-profile-director {
        @include flex(column, flex-start, flex-start);
        h4{
            color: $fontColor;
            @include smallTitleFont();
            padding-bottom: $wrapperPadding;
        }
    }

    .production-people {
        @include flex(row, flex-start, center);
        padding-bottom: $wrapperPadding;
        
        div {
            border-radius: 200px;
            width: 10vw;
            height: 10vw;
            background-position: top;
            background-size: cover; 
            margin:auto;
            
        }

        p {
            padding-left: $wrapperPadding;
            color: $fontColor;
            @include bodyFont();
        }
    }

    .production-people:last-child {
        padding-bottom: 0px;
    }
}

// REVIEWS - wrapper
.movie-profile-reviews{
    @include flex(column, center, flex-start);
    padding: $wrapperPadding;

    h4{
        color: $fontColor;
        @include smallTitleFont();
        padding-bottom: $wrapperPadding;
    }
}

// Similar - wrapper
.movie-profile-similarMovies {
    padding: $wrapperPadding;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $wrapperPadding;

    h4 {
        color: $fontColor;
        @include smallTitleFont();
        padding-bottom: $wrapperPadding;
        grid-area: 1/1/2/4;
    }

    div{
        margin:auto;
    }
}




