@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Mulish&family=Nunito+Sans&family=Source+Sans+Pro&display=swap");
.upperNav {
  width: 100vw;
  height: 60px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  position: fixed;
  top: 0;
  z-index: 10000;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.upperNav div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upperNav div img {
  margin: 0 130px;
}

input:focus {
  outline: none;
}

.hiddenButton {
  display: none;
  border: none;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 50px;
  margin-top: 8px;
  background-color: #eee;
  border-radius: 8px;
  position: absolute;
  top: 0;
  z-index: 1000;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

@-webkit-keyframes searchBar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes searchBar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes removeSearchBar {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes removeSearchBar {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

input[type="text"] {
  outline: none;
  border: 1px solid white;
  border-radius: 5px;
  width: 80%;
  background-color: white;
  background-image: url("../icons/search.svg");
  background-position: 95% 50%;
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 5px;
  padding-left: 1em;
  z-index: 1000;
  position: absolute;
  top: 70px;
  font-family: "Mulish";
  font-size: 1.2rem;
  letter-spacing: 0.08em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type="text"]:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0;
}

.closeImg {
  position: absolute;
  right: 10px;
}

.lowerNav,
.backLowerNav {
  width: 80vw;
  height: 50px;
  -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
  background-color: lightgrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.lowerNav {
  position: fixed;
  height: 70px;
  padding-bottom: 20px;
  width: 100%;
  bottom: 0;
  z-index: 10000;
  background-color: black;
}

.lowerNav div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.backLowerNav {
  display: none;
}

svg,
.navImg {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 10px 0px;
  position: relative;
}

svg:active,
.navImg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.searchOverlay {
  height: inherit;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: #0f0b2e;
  z-index: 999;
  -webkit-animation: searchBar 0.2s ease-out;
          animation: searchBar 0.2s ease-out;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.pill {
  padding: 8px;
  margin-right: 5px;
  border-radius: 10px;
  width: 90px;
  background: #1d155a;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.pill .pill-text {
  font-family: "Mulish", sans-serif;
  text-align: center;
}

.active {
  color: whitesmoke;
  background: linear-gradient(40deg, #ef9d1a, #fd047c);
  -webkit-filter: drop-shadow(0px 0px 2px rgba(239, 157, 26, 0.58));
          filter: drop-shadow(0px 0px 2px rgba(239, 157, 26, 0.58));
}

.movieList {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  width: 90%;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 10px;
}

.filtered {
  -webkit-box-shadow: inset 0 0 7px 0 grey;
          box-shadow: inset 0 0 7px 0 grey;
}

.search-container {
  position: absolute;
  top: -2px;
  z-index: 100;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#search-results {
  width: 100%;
  padding: 10px 25px;
  margin-top: 150px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  z-index: 100;
}

.placeholder {
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
          animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background: transparent;
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, #3c3c3c00), color-stop(38%, #f4f4f40d), color-stop(54%, #fafafa00));
  background: linear-gradient(to right, #3c3c3c00 8%, #f4f4f40d 38%, #fafafa00 54%);
  background-size: 1000px 640px;
  position: relative;
}

@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.hamburger-menu {
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: black;
  width: 60%;
  z-index: 1000;
  right: 0;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transform-origin: right;
          transform-origin: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hamburger-background {
  height: 100%;
  position: absolute;
  top: 0;
  background-color: black;
  width: 100%;
  z-index: 900;
  opacity: 0.6;
}

.hamburger-text {
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

@-webkit-keyframes hamburgerScale {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes hamburgerScale {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes removeHamburgerMenu {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes removeHamburgerMenu {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes hamburgerBackground {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes hamburgerBackground {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.6;
  }
}

@-webkit-keyframes removeHamburgerBackground {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}

@keyframes removeHamburgerBackground {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}

.pill-container {
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 120px;
  width: 80%;
}
/*# sourceMappingURL=navAndSearch.css.map */