@import "variables.scss";

//ÖVRE NAVIGATION
.upperNav {
  width: 100vw;
  height: 60px;
  background-color: transparent;

  @include flex(row, center, none);

  position: fixed;
  top: 0;
  z-index: 10000;

  transition: all 0.2s ease-out;

  div {
    flex-grow: 1;
    box-sizing: border-box;
    @include flex(row, space-between, center);
    padding: 0 $wrapperPadding;

  }
}
input:focus {
  outline: none;
}
//SÖK
.hiddenButton {
  display: none;
  border: none;
}

.search {
  display: flex;

  width: 80%;
  height: 50px;
  margin-top: 8px;

  background-color: #eee;
  border-radius: 8px;

  position: absolute;
  top: 0;
  z-index: 1000;

  // transform: scale(0, 1);
  transition: all 0.1s;
}

@keyframes searchBar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes removeSearchBar {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.search-container {
  input[type="text"] {
    outline: none;
    border: 1px solid white;
    border-radius: $borderRadiusButtons;
    width: calc(100vw - 50px);
    background-color: white;
    background-image: url("../icons/search.svg");
    background-position: 95% 50%;
    background-repeat: no-repeat;
    background-color: transparent;
    padding: $betweenPadding;
    padding-left: 15px;
    z-index: 1000;
    position: absolute;
    top: 70px;
    @include bigTitleFont();
    font-weight: normal;
    letter-spacing: 0.08em;
    box-sizing: border-box;
  }
  input[type="text"]:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 0;
  }
  .movie-profile-background {
    position: absolute;
  }
}

.closeImg {
  position: absolute;
  right: 10px;
}

//NEDRE NAVIGATION
.lowerNav,
.backLowerNav {
  width: 80vw;
  height: 50px;

  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
  background-color: lightgrey;

  display: flex;
  text-align: center;

  overflow: hidden;
  box-sizing: border-box;
}

.lowerNav {
  position: fixed;
  height: 70px;
  padding-bottom: 20px;
  width: 100%;
  bottom: 0;
  z-index: 9000;
  background-color: black;

  div {
    flex-grow: 1;
    box-sizing: border-box;
  }
}

.backLowerNav {
  display: none;
}

//ICONS
svg,
.navImg {
  width: $iconButtonSz;
  height: $iconButtonSz;
  cursor: pointer;
  margin: $betweenPadding 0px;
  position: relative;
}

.navImg.hamburger {
  z-index: 13000;
}

.navImg.logo {
  transform: scale(1.8);
}

svg:active,
.navImg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.searchOverlay {
  height: inherit;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: $backgroundColor;
  z-index: 999;

  animation: searchBar 0.2s ease-out;
  transition: all 1s;
}

.pill {
  padding: 8px;
  margin-right: $innerPadding;
  border-radius: $borderRadiusButtons;
  width: 90px;
  background: #1d155a;
  transform: scale(1);
  transition: transform 1s;

  .pill-text {
    font-family: $bodyFont;
    text-align: center;
  }
}
.active {
  color: whitesmoke;
  background: linear-gradient(40deg, #ef9d1a, #fd047c);
  filter: drop-shadow(0px 0px 2px rgba(239, 157, 26, 0.58));
}

.movieList {
  margin: 0 auto;
  display: grid;
  width: 90%;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: $betweenPadding;
}

.filtered {
  box-shadow: inset 0 0 7px 0 grey;
}

.search-container {
  top: -2px;
  position: absolute;
  z-index: 500;
  width: 100vw;
  min-height: 100vh;
  padding: 0 $wrapperPadding $betweenPadding $wrapperPadding;
  padding-bottom: 100px;
  box-sizing: border-box;
  @include flex(column, none, center);
  transition: opacity 0.2s ease;

  div {
    margin: auto;
  }
}
#search-results {
  margin-top: 170px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $betweenPadding;
  z-index: 100;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: calc(100vh - 170px);
  width: 100%;
  padding-bottom: 130px;
  position: relative;
  box-sizing: border-box;
}

.placeholder {
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: transparent;
  background: linear-gradient(to right, #3c3c3c00 8%, #f4f4f40d 38%, #fafafa00 54%);
  background-size: 1000px 640px;
  position: relative;
  z-index: 1200;
}
@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.hamburger-menu {
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: black;
  width: 60%;
  z-index: 11000;
  right: 0;
  padding: 60px 0px 90px 20px;
  box-sizing: border-box;
  transform: translateX(0%);
  transform-origin: right;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.hamburger-background {
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: black;
  width: 100%;
  z-index: 10000;
  opacity: 0.6;
}

.exitMenu {
  height: 20px;
  width: 20px;
  background-image: url("../icons/exit.svg");
  background-position: center;
  background-size: contain;
  // background-color: blueviolet;
  position: absolute;
  top: 20px;
  right: 50px;
}

.pages-container {
  border-bottom: 1px solid $lightFont;
  margin-bottom: $betweenPadding;
  width: 77%;

  p {
    @include bigTitleFont();
  }
}

.hamburger-text {
  opacity: 0;
  transform: translateX(0px);
  transition: all 1s ease;
  @include smallTitleFont();
  padding-bottom: $betweenPadding;
  cursor: pointer;
}

.hamburger-text:hover {
  transform: scale(1.1, 1.1);
}

.log-out-btn {
  border: none;
  border-radius: $borderRadiusButtons;
  padding: $innerPadding;
  height: $iconButtonSz;
  width: 30%;
  margin: $betweenPadding $betweenPadding $betweenPadding 0;
  cursor: pointer;
  box-sizing: content-box;
  background: $gradientPeach;
  filter: drop-shadow(0px 0px 2px rgba(239, 157, 26, 0.58));
  @include flex(row, center, center);
}

.genres-container {
  border-bottom: 1px solid $lightFont;
  margin-bottom: $betweenPadding;
  width: 77%;

  .genre-link {
    opacity: 0;
    transition: all 1s ease;
    @include smallTitleFont();
    padding-bottom: $betweenPadding;
    cursor: pointer;
  }

  .genre-link:hover {
    transform: scale(1.1, 1.1);
  }
}

.about-container {
  @include xSmallFont();
  display: flex;
  flex-direction: column;
}

.markedPage {
  background: $gradientPeach;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes hamburgerScale {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes removeHamburgerMenu {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hamburgerBackground {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes removeHamburgerBackground {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}
.pill-container {
  z-index: 1000;
  @include flex(row, flex-start, center);
  position: absolute;
  top: 120px;
  width: calc(100vw - 50px);
  margin: auto;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding-top: $innerPadding;
  div {
    margin-right: $betweenPadding;
    flex-grow: 1;
  }

  div:last-child {
    margin-right: 0;
  }
}

.userDiv {
  @include flex(column, space-evenly, center);
  max-width: 140px;

  .userImage {
    width: 75px;
    height: 75px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  }

  .userInfoDiv {
    display: flex;
    flex-direction: column;

    #usernameP {
      text-align: center;
      padding-bottom: $innerPadding;
    }

    #followDiv {
      @include flex(row, center, center);
      gap: 4px;
      width: 85px;
      border-radius: $borderRadiusButtons;
      padding: $buttonPadding;

      p {
        @include xSmallFont();
        padding: 0;
      }
    }

    .unfollow {
      background:$activityColor;
    }
    .follow {
      background:$gradientPeach;
    }
  }
}

.showMoreDiv {
  z-index: 1000;
  position: relative;
  width: 40%;
  grid-column-end: span 3;
  padding-top: 10px;

  button {
    width: 100%;
    height: 100%;
    padding: $betweenPadding;
    border-radius: $borderRadiusButtons;
    border: 0;
    color: $lightFont;
    background: transparent;
    @include bigTitleFont();
  }
}

#search-results-text {
  @include smallTitleFont();
  margin-top: 20px;
  z-index: 1000;
  position: relative;
  top: 156px;
  color: $lightFont;
}