@import "variables.scss";

//ÖVRE NAVIGATION
.upperNav {
  width: 100vw;
  height: 60px;
  background-color: $backgroundColor;

  @include flex(row, center, none);

  position: sticky;
  top: 0;
  z-index: 10000;

  div {
    flex-grow: 1;
    box-sizing: border-box;
    @include flex(row, center, center);
  }
}
input:focus {
  outline: none;
}
//SÖK
.hiddenButton {
  display: none;
  border: none;
}

.search {
  display: flex;

  width: 80%;
  height: 50px;
  margin-top: 8px;

  background-color: #eee;
  border-radius: 8px;

  position: absolute;
  top: 0;
  z-index: 1000;

  // transform: scale(0, 1);
  transition: all 0.1s;
}

@keyframes searchBar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes removeSearchBar {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// .search {
//   animation: searchBar .3s ease-in-out;
// }

// form {
//   width: 100%;
//   height: 100%;
// }

#searchField {
  width: 85%;
  border: none;
  border-radius: relative;
  background-color: transparent;
  height: 100%;
  font-size: 1.1rem;
  padding-left: 10px;
  color: $darkFont;
  left: 0;
}

.closeImg {
  position: absolute;
  right: 10px;
}

//NEDRE NAVIGATION
.lowerNav,
.backLowerNav {
  width: 80vw;
  height: 50px;
  margin-bottom: 30px;

  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background-color: lightgrey;

  display: flex;
  text-align: center;

  overflow: hidden;
  box-sizing: border-box;
}

.lowerNav {
  position: fixed;
  top: calc(100vh - 80px);
  z-index: 10000;
  background-color: transparent;

  div {
    flex-grow: 1;
    box-sizing: border-box;
  }
}

.backLowerNav {
  width: 110%;
  position: absolute;
  background: linear-gradient(63.8deg, #ef9d1a 10.76%, #fd047c 94.55%);
  opacity: 0.9;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  backdrop-filter: blur(0px);
  border-radius: 2px;
  transform: translateX(-1%);
}

//ICONS
svg,
.navImg {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 10px 0px;
  position: relative;
}

svg:active,
.navImg {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.searchOverlay {
  height: inherit;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: $backgroundColor;
  z-index: 999;

  animation: searchBar 0.2s ease-out;
  transition: all 1s;
}

.pillsDiv {
  display: flex;
  align-items: center;
  margin: 10px;
}

.pill {
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
  background-color: lightgrey;
  transform: scale(1);
  transition: transform 1s;
}

.movieList {
  margin: 0 auto;
  display: grid;
  width: 90%;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 10px;
}

.filtered {
  box-shadow: inset 0 0 7px 0 grey;
}
