@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Mulish&family=Nunito+Sans&family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Mulish&family=Nunito+Sans&family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Mulish&family=Nunito+Sans&family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Mulish&family=Nunito+Sans&family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Mulish&family=Nunito+Sans&family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Mulish&family=Nunito+Sans&family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Mulish&family=Nunito+Sans&family=Source+Sans+Pro&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

body {
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0F0B2E;
  overflow-x: hidden;
}

#wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
}

body {
  position: relative;
}

#topWrapperProfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  width: 100%;
  padding: 10px;
}

#profilePic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

#profilePic img {
  width: 100%;
}

#profileInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#profileInfo #usernameDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Arial';
  font-size: 1.2rem;
  width: 100%;
}

#profileInfo #usernameDiv p {
  margin: 0;
}

#profileInfo #followInfo {
  font-family: 'Arial';
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#profileInfo #followInfo #followersDiv, #profileInfo #followInfo #followingDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#profileInfo #followInfo #followersDiv p, #profileInfo #followInfo #followingDiv p {
  margin: 0;
}

#profileNav {
  width: 100%;
  height: 50px;
  font-family: 'Arial';
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid black;
}

#profileNav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
}

#profileNav .selected {
  background-color: white;
}

#followContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 10;
  left: 100vw;
  -webkit-transition: left 1s;
  transition: left 1s;
  gap: 10px;
  background-color: #0F0B2E;
  width: 100%;
}

#followContainer div {
  font-family: 'Arial';
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 100%;
  height: 100px;
  padding: 10px;
  cursor: pointer;
}

#followContainer div img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#settingsWindow {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 10;
  left: 100vw;
  -webkit-transition: left 1s;
  transition: left 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  background-color: #0F0B2E;
}

#settingsWindow #settingsForm {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (35px)[8];
      grid-template-rows: repeat(8, 35px);
  gap: 5px;
  width: 100%;
  padding: 10px;
}

#settingsWindow #settingsForm div:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
}

#settingsWindow #settingsForm div:nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
}

#settingsWindow #settingsForm div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  padding: 2px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  border: 1px solid black;
  border-radius: 5px;
}

#settingsWindow #settingsForm div label {
  font-family: 'Arial';
  font-size: 0.5rem;
}

#settingsWindow #settingsForm div input {
  border: none;
  width: 100%;
  padding: 0;
}

#settingsChangePic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
}

#settingsChangePic img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#settingsChangePic div {
  position: absolute;
  margin-left: 70px;
  margin-top: 75px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffb700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#settingsChangePic div img {
  width: 50%;
  height: 50%;
}

#changeProfileWindow {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 10;
  left: 100vw;
  -webkit-transition: left 1s;
  transition: left 1s;
  background-color: #0F0B2E;
}

#closeTab {
  position: absolute;
  z-index: 100;
}

#profileWrapper {
  padding: 10px;
}

#profileWrapper #watchlistContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

#overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #0F0B2E;
}

.movie-profile-backdrop {
  width: 100vw;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.movie-profile-header {
  height: auto;
  position: relative;
}

.movie-profile-gradient {
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 11;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(15, 123, 161, 0)), color-stop(71.87%, rgba(15, 11, 46, 0)), to(#0F0B2E));
  background: linear-gradient(180deg, rgba(15, 123, 161, 0) 0%, rgba(15, 11, 46, 0) 71.87%, #0F0B2E 100%);
  height: 200px;
}

.movie-profile-info {
  padding: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  gap: 10px;
  margin-top: -50px;
  z-index: 12;
}

.movie-profile-info .movie-profile-info-poster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.movie-profile-info .movie-profile-info-poster .movie-profile-poster {
  width: 100%;
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
}

.movie-profile-info .movie-profile-info-text {
  font-family: 'Archivo', sans-serif;
  line-height: 1.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.movie-profile-info .movie-profile-info-text p {
  font-size: 12px;
  color: black;
}

.movie-profile-info .movie-profile-info-text .movie-profile-title {
  font-weight: bold;
  color: black;
}

#movie-profile-buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 10px;
  width: 100%;
}

.watch-later {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

.watched {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
}

.review {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2 / 1 / 3 / 3;
}

.button {
  padding: 10px;
  border-radius: 10px;
  border: 0;
  color: whitesmoke;
  background: linear-gradient(40deg, #EF9D1A, #FD047C);
  -webkit-filter: drop-shadow(0px 0px 2px rgba(239, 157, 26, 0.58));
          filter: drop-shadow(0px 0px 2px rgba(239, 157, 26, 0.58));
}

.movie-profile-description {
  padding: 10px;
}

.movie-profile-description p {
  font-family: 'Arial';
  font-size: 0.9rem;
  color: black;
  text-align: left;
}

.movie-profile-streamingservices {
  padding: 10px;
}

.movie-profile-streamingservices h4 {
  color: black;
  font-family: 'Arial';
  font-size: 1.2rem;
  padding-bottom: 10px;
}

.movie-profile-streamingservices .movie-profile-streaming-services-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.movie-profile-streamingservices .movie-profile-streaming-services-grid img {
  border-radius: 200px;
  height: 10vw;
  width: 10vw;
  margin-right: 10px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.movie-profile-streamingservices .movie-profile-streaming-services-grid .active-streming-service {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-box-shadow: 0px 0px 2px rgba(239, 157, 26, 0.58);
          box-shadow: 0px 0px 2px rgba(239, 157, 26, 0.58);
}

.movie-profile-streamingservices .movie-profile-streaming-services-grid img:last-child {
  margin-right: 0px;
}

.movie-profile-streamingservices .movie-profile-streaming-services-grid p {
  color: black;
}

.movie-profile-credits {
  padding: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.movie-profile-credits .movie-profile-cast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.movie-profile-credits .movie-profile-cast h4 {
  color: black;
  font-family: 'Arial';
  font-size: 1.2rem;
  padding-bottom: 10px;
}

.movie-profile-credits .movie-profile-director {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.movie-profile-credits .movie-profile-director h4 {
  color: black;
  font-family: 'Arial';
  font-size: 1.2rem;
  padding-bottom: 10px;
}

.movie-profile-credits .production-people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
}

.movie-profile-credits .production-people div {
  border-radius: 200px;
  width: 10vw;
  height: 10vw;
  background-position: top;
  background-size: cover;
  margin: auto;
}

.movie-profile-credits .production-people p {
  padding-left: 10px;
  color: black;
  font-family: 'Arial';
  font-size: 0.9rem;
}

.movie-profile-credits .production-people:last-child {
  padding-bottom: 0px;
}

.movie-profile-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px;
}

.movie-profile-reviews h4 {
  color: black;
  font-family: 'Arial';
  font-size: 1.2rem;
  padding-bottom: 10px;
}

.movie-profile-similarMovies {
  padding: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.movie-profile-similarMovies h4 {
  color: black;
  font-family: 'Arial';
  font-size: 1.2rem;
  padding-bottom: 10px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 1/1/2/4;
}

.movie-profile-similarMovies div {
  margin: auto;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 5px;
}

.userContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0.5vh 0;
  font-family: 'Archivo', sans-serif;
}

.activityContainer {
  background-color: white;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -webkit-box-shadow: .2vh .2vh .2vh grey;
          box-shadow: .2vh .2vh .2vh grey;
  border-radius: .5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.activityContainerLeft {
  padding: 1vh;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  font-family: 'Mulish', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.activityContainerRight {
  border-radius: 0vh .5vh .5vh 0vh;
  -webkit-box-flex: 1.5;
      -ms-flex-positive: 1.5;
          flex-grow: 1.5;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  background-size: cover;
  background-position: center;
  min-height: 100px;
  -webkit-clip-path: polygon(24% 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(24% 0, 100% 0, 100% 100%, 0% 100%);
}

.type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.typeText {
  font-size: 15px;
  margin-right: .5vw;
}

.typeIcon {
  height: 60%;
}

.title {
  font-family: 'Archivo', sans-serif;
  font-weight: bold;
}

.userPic {
  height: 4vh;
  width: 4vh;
  border-radius: 50%;
  margin-right: 1.5vh;
  background-size: cover;
}

.username {
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.date {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.comment {
  font-size: 13px;
}

.rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.star {
  height: 15px;
}

.slideshow-container {
  width: 100vw;
  height: 250px;
  overflow: hidden;
}

.slideshow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: inherit;
  position: relative;
}

.slideshow div {
  width: 100vw;
}

.slideshow div div {
  height: 100%;
  width: 100vw;
  background-position: center;
  background-size: cover;
}

.slideMovieDiv {
  position: relative;
}

.movieNameTr {
  position: absolute;
  top: calc(250px - 40px);
}

.movieNameTr p {
  color: white;
  width: 105vw;
  background-color: rgba(128, 128, 128, 0.5);
  padding: 10px;
}

#genre {
  display: -ms-grid;
  display: grid;
  width: 100vw;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 10px;
  padding: 10px;
}

.movieBanner, .genreBanner {
  height: 150px;
  border-radius: 10px;
  background-size: cover;
  text-align: right;
  overflow: hidden;
  position: relative;
  top: 0;
  -webkit-animation: movieScale .5s ease-in-out;
          animation: movieScale .5s ease-in-out;
  -webkit-transition: all 1s;
  transition: all 1s;
  aspect-ratio: 1;
}

@-webkit-keyframes movieScale {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes movieScale {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

.movieBanner {
  max-width: 100px;
}

.genreBanner {
  height: 100px;
  width: 100%;
  border-radius: 10px;
}

.titleDiv, .divider {
  position: absolute;
  bottom: -10%;
  right: -40%;
  height: 50%;
  background-color: rgba(211, 211, 211, 0.7);
  width: 150%;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.divider {
  height: 90%;
  bottom: -30%;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.movieTitle, .genreName {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px 0px;
  margin-right: 10px;
  color: black;
  z-index: 10;
  font-size: 1rem;
}

.genreName {
  font-size: 1.2rem;
}

#footer {
  position: relative;
  bottom: 0;
  left: 0;
}

.footerContainer {
  padding-bottom: 80px;
  background-color: #1d1656;
  color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footerContainerLeft {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 40px;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footerContainerRight {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  padding: 10px;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tmdb, .git {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tmdbLogo, .gitLogo {
  width: 30px;
  margin-right: 10px;
}

.gitText > a {
  color: whitesmoke;
}

.upperNav {
  width: 100vw;
  background-color: #0F0B2E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10000;
}

.upperNav div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hiddenButton {
  display: none;
  border: none;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 50px;
  margin-top: 8px;
  background-color: lightgrey;
  border-radius: 20px;
  position: absolute;
  top: 0;
  z-index: 1000;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@-webkit-keyframes searchBar {
  0% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}

@keyframes searchBar {
  0% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}

@-webkit-keyframes removeSearchBar {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  100% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}

@keyframes removeSearchBar {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  100% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}

#searchField {
  width: 85%;
  border: none;
  border-radius: relative;
  background-color: transparent;
  height: 100%;
  font-size: 1.1rem;
  padding-left: 10px;
  left: 0;
}

.closeImg {
  position: absolute;
  right: 10px;
}

.lowerNav, .backLowerNav {
  width: 80vw;
  height: 50px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background-color: lightgrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.lowerNav {
  position: fixed;
  top: calc(100vh - 80px);
  z-index: 10000;
  background-color: transparent;
}

.lowerNav div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.backLowerNav {
  width: 100%;
  position: absolute;
  -webkit-filter: blur(8px);
          filter: blur(8px);
}

svg, .navImg {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 10px 0px;
  position: relative;
}

svg:active, .navImg {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.searchOverlay {
  height: inherit;
  width: 100vw;
  position: absolute;
  top: 0;
  background-color: #0F0B2E;
  z-index: 999;
  -webkit-animation: searchBar .3s ease-in-out;
          animation: searchBar .3s ease-in-out;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.pillsDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

.pill {
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
  background-color: lightgrey;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.movieList {
  display: -ms-grid;
  display: grid;
  width: 100vw;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
}

.filtered {
  -webkit-box-shadow: inset 0 0 7px 0 grey;
          box-shadow: inset 0 0 7px 0 grey;
}
/*# sourceMappingURL=styles.css.map */