@import "variables.scss";

// css for all files
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $bodyFont;
  }

body {
    margin: 0;
    // display: grid;
    position: relative;
    // height: 100vh;
    @include flex(column, none, center);
    background-color: $backgroundColor;
    overflow-x: hidden;
}


.genreBanner {
  height: 100px;
  width: 40vw;
  border-radius: 10px;
}

.titleDiv, .divider {
  position: absolute;
  bottom: -10%;
  right: -40%;
  height: 50%;
  background-color: rgba(211, 211, 211, 0.7);
  width: 150%;
  transform: rotate(-20deg);
}

.divider {
  height: 90%;
  bottom: -30%;
  transform: rotate(-15deg);
}

.movieTitle, .genreName {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px 0px;
  margin-right: 10px;
  color: $fontColor;
  z-index: 10;
  font-size: 1rem;
}

.genreName {
  font-size: 1.4rem;
}

//ÖVRE NAVIGATION
.upperNav {
    width: 100vw;
    background-color: $backgroundColor;

    @include flex(row, center, none);

    position: sticky;
    top: 0;
    z-index: 10000;

}

.upperNav > div {
  @include flex(row, center, center);
}

//SÖK
.hiddenButton {
  display: none;
  border: none;
}

.search {
  display: flex;

  width: 80%;
  height: 50px;

  background-color: lightgrey;
  border-radius: 20px;

  position: absolute;
  top: 0;
  z-index: 1000;

  // transform: scale(0, 1);
  transition: all 1s;
}

@keyframes searchBar {
  0% {
      transform: scale(0, 1);
      transform-origin: right;
  }
  100% {
      transform: scale(1, 1);
      transform-origin: right;
  }
}

// @keyframes removeSearchBar {
//   0% {
//       transform: scale(1, 1);
//       transform-origin: right;
//   }
//   100% {
//       transform: scale(0, 1);
//       transform-origin: right;
//   }
// }

// .search {
//   animation: searchBar .3s ease-in-out;
// }

// form {
//   width: 100%;
//   height: 100%;
// }
    // display: grid;
  //  height: 100vh;
 //   @include flex(column, none, center);

//}

h1 {
  font-family: $headerFont;
  color: white;
}

#wrapper {
  position: relative;
  // overflow-y: scroll;
  // height: 100vh;
  @include flex(column, none, center);
  padding: $padding;
  overflow-x: hidden;
}


// Imported css-files

@import "userProfile.scss";

@import "movieProfile.scss";

@import "feed.scss";

@import "explore.scss";

@import "banners.scss";

@import "footer.scss";

@import "navAndSearch.scss";