@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Mulish&family=Nunito+Sans&family=Source+Sans+Pro&display=swap");
body {
  background-color: #e3e3e3;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 375px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 2vh;
}

.userContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1vh 0.5vh 1vh 0.5vh;
  font-family: 'Archivo', sans-serif;
}

.activityContainer {
  background-color: white;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -webkit-box-shadow: .2vh .2vh .2vh grey;
          box-shadow: .2vh .2vh .2vh grey;
  border-radius: .5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.activityContainerLeft {
  padding: 1vh;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  font-family: 'Mulish', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.activityContainerRight {
  border-radius: 0vh .5vh .5vh 0vh;
  -webkit-box-flex: 1.5;
      -ms-flex-positive: 1.5;
          flex-grow: 1.5;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  background-size: cover;
  background-position: center;
  min-height: 100px;
  -webkit-clip-path: polygon(24% 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(24% 0, 100% 0, 100% 100%, 0% 100%);
}

.type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.typeText {
  font-size: 15px;
  margin-right: .5vw;
}

.typeIcon {
  height: 60%;
}

.title {
  font-family: 'Archivo', sans-serif;
  font-weight: bold;
}

.userPic {
  height: 4vh;
  width: 4vh;
  border-radius: 50%;
  margin-right: 1.5vh;
  background-size: cover;
}

.username {
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.date {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.comment {
  font-size: 13px;
}

.rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.star {
  height: 15px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  margin: 0;
  width: 100vw;
}

#wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movieBanner, .genreBanner {
  height: 150px;
  width: 100px;
  border-radius: 10px;
  background-size: cover;
  text-align: right;
  overflow: hidden;
  position: relative;
  top: 0;
}

.genreBanner {
  height: 100px;
  width: 40vw;
  border-radius: 10px;
}

.titleDiv, .divider {
  position: absolute;
  bottom: -10%;
  right: -40%;
  height: 50%;
  background-color: rgba(211, 211, 211, 0.7);
  width: 150%;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.divider {
  height: 90%;
  bottom: -30%;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.title, .genreName {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px 0px;
  margin-right: 10px;
  color: black;
  z-index: 10;
  font-size: 1rem;
}

.genreName {
  font-size: 1.4rem;
}

.upperNav {
  width: 100vw;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10000;
}

.upperNav > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hiddenButton {
  display: none;
  border: none;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 50px;
  background-color: lightgrey;
  border-radius: 20px;
  position: absolute;
  top: 0;
  z-index: 1000;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@-webkit-keyframes searchBar {
  0% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}

@keyframes searchBar {
  0% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}

form {
  width: 100%;
  height: 100%;
}

#searchField {
  width: 85%;
  border: none;
  border-radius: inherit;
  background-color: transparent;
  height: 100%;
  font-size: 1.1rem;
  padding-left: 10px;
  position: inherit;
  left: 0;
}

.closeImg {
  position: absolute;
  right: 10px;
}

.lowerNav, .backLowerNav {
  width: 80vw;
  height: 50px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background-color: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  bottom: 1;
}

.lowerNav {
  position: fixed;
  top: calc(100% - 65px);
  z-index: 10000;
  background-color: transparent;
}

.lowerNav > div > a {
  width: 30px;
  height: 30px;
}

.backLowerNav {
  width: 100%;
  position: absolute;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

svg, .navImg {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 10px 0px;
  position: relative;
}

svg:active, .navImg {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.upperNav > div, .lowerNav > div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slideshow-container {
  width: 500px;
  margin: auto;
  border: 5px solid black;
  overflow: hidden;
}

.slideshow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
}

body {
  position: relative;
}

#topWrapperProfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  width: 100%;
  padding: 20px;
}

#profilePic {
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  height: 100px;
}

#profilePic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#profileInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#profileInfo #usernameDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Arial';
  font-size: 1.2rem;
  width: 100%;
}

#profileInfo #usernameDiv p {
  margin: 0;
}

#profileInfo #followInfo {
  font-family: 'Arial';
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#profileInfo #followInfo #followersDiv, #profileInfo #followInfo #followingDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#profileInfo #followInfo #followersDiv p, #profileInfo #followInfo #followingDiv p {
  margin: 0;
}

#profileNav {
  width: 100%;
  font-family: 'Arial';
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#profileNav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#followContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  background-color: white;
  width: 100%;
  position: absolute;
  z-index: 10;
  left: 100vw;
  -webkit-transition: left 1s;
  transition: left 1s;
}

#followContainer div {
  font-family: 'Arial';
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 100%;
  height: 100px;
  padding: 10px;
  cursor: pointer;
}

#followContainer div img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
/*# sourceMappingURL=styles.css.map */