@import "variables.scss";

// css for all files
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $bodyFont;
  color: $lightFont;
}

body {
  margin: 0;
  // display: grid;
  position: relative;
  // min-height: 100vh;
  @include flex(column, none, center);
  background-color: $backgroundColor;
  // overflow-x: hidden;
}

#wrapper {
  position: relative;
  // overflow-y: scroll;
  // height: 100vh;
  @include flex(column, none, center);
  overflow-x: hidden;
  color: $darkFont;
  padding-bottom: 90px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.drop4 {
  background-image: url("../icons/drop.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 563px;
  z-index: 11;
  width: 135px;
  left: 5%;
  height: 150px;
}
.drop3 {
  background-image: url("../icons/drop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 360px;
  z-index: 11;
  width: 120px;
  right: 0px;
  height: 135px;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

body button:active, #settingOrPlus:active {
  background-color: rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: inset 0px 0px 5px $backgroundColor;
     -moz-box-shadow: inset 0px 0px 5px $backgroundColor;
          box-shadow: inset 0px 0px 5px $backgroundColor;
   outline: none;

}

// LOAD dots
.loading-dots {
  display: inline-block;
  position: relative;
  width: 73px;
  height: 9px;

  div {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }

  div:nth-child(1) {
    left: 8px;
    animation: scaleUp 0.6s infinite;
  }

  div:nth-child(2) {
    left: 8px;
    animation: moveSideways 0.6s infinite;
  }

  div:nth-child(3) {
    left: 32px;
    animation: moveSideways 0.6s infinite;
  }

  div:nth-child(4) {
    left: 56px;
    animation: scaleDown 0.6s infinite;
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes moveSideways {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@keyframes scaleDown {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

// Imported css-files
@import "login.scss";

@import "userProfile.scss";

@import "navAndSearch.scss";

@import "movieProfile.scss";

@import "feed.scss";

@import "explore.scss";

@import "banners.scss";

@import "footer.scss";


@import "loadingScreen.scss";
