* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#wrapper {
  display: flex;
  flex-direction: column;
}

.movieBanner {
  background-color: aquamarine;
  height: 150px;
  width: 100px;
  background-size: cover;
  text-align: right;
  position: relative;
  overflow: hidden;
}

.titleDiv {
  position: absolute;
  bottom: -10%;
  right: -40%;
  height: 50%;
  background-color: rgba(211, 211, 211, 0.7);
  width: 150%;
  transform: rotate(-20deg);
}

.title {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px 0px;
  margin-right: 10px;
  color: black;
  z-index: 10;
  font-size: 1rem;
}

.slideshow-container {
  width: 500px;
  margin: auto;
  border: 5px solid black;
  overflow: hidden;
}
.slideshow {
  display: flex;
  width: 500px;
}
