@import "variables.scss";

#topWrapperProfile {
  margin-top: 60px;
  z-index: 15;
  @include flex(row, center, center);
  width: 100%;
  padding: $betweenPadding $wrapperPadding;
  color: $lightFont;
}

#profilePic {
  @include profilePicture(90px, 90px);
  overflow: hidden;

  div {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
  }
}

//  USER PROFILE
#profileInfo {
  @include flex(column, center, flex-start);
  gap: $betweenPadding;
  flex-grow: 1;

  #usernameDiv {
    @include flex(row, space-between, center);
    gap: $betweenPadding;
    @include smallTitleFont();
    p {
      padding: 0;
    }

    width: 100%;
    padding: $betweenPadding $wrapperPadding;

    #settingOrPlus {
      background: $gradientPeach;
      @include flex(row, center, center);
      gap: 4px;

      width: 85px;
      border-radius: $borderRadiusButtons;
      padding: $buttonPadding;

      p {
        @include xSmallFont();
        padding: 0;
      }
    }
  }

  #followInfo {
    @include bodyFont();
    @include flex(row, space-evenly, center);
    width: 100%;
    // gap: 5px;

    #followersDiv,
    #followingDiv {
      p {
        margin: 0;
      }
      @include flex(column, center, center);
      cursor: pointer;
    }
  }
}

#followInfo {
  @include bodyFont();
  @include flex(row, space-evenly, center);
  width: 100%;
  // gap: 5px;

  #followersDiv,
  #followingDiv {
    p {
      margin: 0;
    }
    @include flex(column, center, center);
    cursor: pointer;
  }
}

#profileNav {
  z-index: 15;
  color: $lightFont;
  width: calc(100% - 50px);
  height: 50px;
  @include bodyFont();
  @include flex(row, center, center);
  border-radius: $borderRadiusButtons;
  overflow: hidden;
  background-color: #1c1452;

  div {
    @include flex(row, center, center);
    width: 33%;
    flex-grow: 1;
    height: 100%;
  }

  .selected {
    background: $gradientPeach;
    border-radius: $borderRadiusButtons;
  }
}

#followContainer {
  @include transitionFromLeft();
  @include flex(column, flex-start, flex-start);
  gap: $betweenPadding;
  background-color: $backgroundColor;
  width: 100%;
  padding: $wrapperPadding;

  #usersWrapper {
    @include flex(column, flex-start, center);
    flex-grow: 1;
    width: 100%;
    color: $lightFont;
    gap: $betweenPadding;

    #userDiv {
      @include bodyFont();
      @include flex(row, space-between, center);
      gap: $betweenPadding;
      width: 100%;
      height: 100px;

      // padding: $wrapperPadding;
      cursor: pointer;

      img {
        @include profilePicture(90px, 90px);
      }

      button, div {
        width: 70px;
        transition: background 0.5s ease-in;
      }
      button#noGradient {
        background: #1c1452;
      }
    }
  }
}

#closeTab {
  position: absolute;
  z-index: 10000;
  width: 30px;
  height: 30px;

  border: none;
  border-radius: $borderRadiusButtons;
  background: $gradientPeach;
  padding: $buttonPadding;

  margin: $wrapperPadding;
}

#profileWrapper {
  width: 100%;
  z-index: 15;
  padding: $betweenPadding $wrapperPadding;
  padding-bottom: 90px;

  transition: height 1s;

  #watchlistContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $betweenPadding;    
    position: relative;

    button {
      border-radius: $borderRadiusButtons;
      border: none;
      padding: $innerPadding;
      color: $lightFont;
      background: $gradientPeach;
      box-sizing: border-box;
      filter: none;
      @include flex(row, center, center);
      position: absolute;
      width: 150px;
    }

    button:first-child{
      bottom: -35px;
    }
    button:last-child{
      bottom: -70px;
    }
  }
}

#messageWhenEmpty {
  @include flex(column, center, center);
  gap: $wrapperPadding;

  height: 15vh;
  width: 100%;

  p {
    text-align: center;
  }

  button {
    border: none;
    @include bodyFont();
    
    border-radius: $borderRadiusButtons;
    padding: $innerPadding $wrapperPadding;

    background: $gradientPeach;
    color: $lightFont;
  }
}

#overlay-profile {
  position: absolute;
  min-height: 100vh;
  width: 100vw;
  z-index: 15000;
}

//  SETTINGS
#settingsWindow {
  @include transitionFromLeft();
  @include flex(column, flex-start, flex-start);
  gap: $wrapperPadding;

  background-image: url("../icons/background-m-profile.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  z-index: 100000;
  overflow-y: scroll;  
}

#settingsForm {
  @include flex(column, center, center);
  gap: $betweenPadding;

  padding: 0 $wrapperPadding $wrapperPadding $wrapperPadding;
  width: 100%;

  #informationForm {
    border: none;
    @include flex(column, center, center);
    gap: $betweenPadding;
    width: 100%;

    #errorIcon {
      opacity: 0.8;
      position: absolute;
      right: 10px;
    }

    #errorMessage {
      position: absolute;
      background: rgba(255, 255, 255, 0.48);
      padding: 10px;
      border-radius: 15px;
      right: 38px;
      
      @include xSmallFont();
    }
  }

  #providersForm {
    @include flex(column, center, center);
    gap: $betweenPadding;
    border: none;
      
    select, option {
      color: $darkFont;
    }

    select, .searchProvider {
      width: 100%;
      height: 35px;
      padding: $innerPadding;
      background-color: $activityColor;
      border: none;
      border-radius: $borderRadiusButtons;
    }

    #fieldSetProviders {
      flex-grow: 1;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: $betweenPadding;

      @include xSmallFont();
      width: 100%;
      border: none;
      max-height: 65vh;

      overflow-y: scroll;

      .providersLabel {
        @include flex(column-reverse, center, center);
        text-align: center;
        height: 80px;

        img {
          height: 30px;
          width: 30px;

          border-radius: 50%;
        }
      }
    }

    .providersLabel.selectedProvider {
      background-color: $activityColor;
      border-radius: $borderRadiusObjects;
    }
  }

  #input {
    position: relative;

    @include flex(column, center, flex-start);
    width: 100%;
    padding: $innerPadding;
    grid-column: 1 / span 2;

    border: 1px solid black;
    border-radius: $borderRadiusButtons;
    background-color: $activityColor;
    transition: border 1s;

    label {
      @include xSmallFont();
      margin-left: $betweenPadding;
    }

    input {
      @include bodyFont();
      border: none;
      width: 100%;
      padding: 0 10px;
      background: none;
            
      transition: color 0.5s;
      }    
    }
    
    #buttonWrapper {
        @include flex(row, center, center);
        gap: $betweenPadding;
    }
    
    button {
        // width: 100px;
        // height: 30px;
        
        @include postFont();
        
        background: $gradientPeach;
        padding: $betweenPadding;
        border-radius: $borderRadiusButtons;
        border: none;
    }
}

#settingsChangePic {
  @include flex(row, center, flex-start);
  gap: $betweenPadding;
  padding: $wrapperPadding;

  width: 100%;
  position: relative;
  z-index: 100;

  div:first-child {
    @include profilePicture(100px, 100px);
    background-position: center;
    background-size: cover;
  }

  div:last-child {
    position: absolute;
    margin-left: 70px;
    margin-top: 75px;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $gradientPeach;

    @include flex(row, center, center);

    img {
      width: 50%;
      height: 50%;
    }
  }
}

#changeProfilePicWindow {
  @include transitionFromLeft();
  top: 0;
  @include flex(column, flex-start, flex-start);
  gap: $betweenPadding;

  background-image: url("../icons/background-m-profile.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  overflow: hidden;

  div {
    width: 100%;
    flex-grow: 1;
    
    position: relative;
    top: 20px;
    overflow: hidden;

    padding: $wrapperPadding;
  }

  #closeTab {
    z-index: 10001;
  }

}

#responseDiv {
  @include flex(row, center, center);

  position: absolute;
  height: 100%;
  width: 100%;

  background-color: rgba($backgroundColor, 0.5);
  opacity: 0;
  transition: opacity 0.5s;
  
  p {
    background-color: $backgroundColor;
    padding: 20px;
    border-radius: $borderRadiusObjects;
  }
}

#overlay-profile {
  position: absolute;
  height:100vh;
  width: 100vw;
  z-index: 1000;
}

//text on stats
.statsP {
  @include bodyFont();
  text-align: center;
}