@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Mulish&family=Nunito+Sans&family=Source+Sans+Pro&display=swap");
#topWrapperProfile {
  margin-top: 60px;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px 25px;
  color: #eeeeee;
}

#profilePic {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
}

#profilePic div {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}

#profileInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#profileInfo #usernameDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  padding-bottom: 5px;
  width: 100%;
  padding: 10px 25px;
}

#profileInfo #usernameDiv p {
  padding: 0;
}

#profileInfo #usernameDiv #settingOrPlus {
  background: linear-gradient(63.8deg, #ef9d1a 10.76%, #fd047c 94.55%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  width: 85px;
  border-radius: 10px;
  padding: 3px;
}

#profileInfo #usernameDiv #settingOrPlus p {
  font-family: "Mulish", sans-serif;
  font-size: 12px;
  padding: 0;
}

#profileInfo #followInfo {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#profileInfo #followInfo #followersDiv,
#profileInfo #followInfo #followingDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#profileInfo #followInfo #followersDiv p,
#profileInfo #followInfo #followingDiv p {
  margin: 0;
}

#followInfo {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#followInfo #followersDiv,
#followInfo #followingDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#followInfo #followersDiv p,
#followInfo #followingDiv p {
  margin: 0;
}

#profileNav {
  z-index: 15;
  color: #eeeeee;
  width: calc(100% - 50px);
  height: 50px;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  overflow: hidden;
  background-color: #1c1452;
}

#profileNav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
}

#profileNav .selected {
  background: linear-gradient(63.8deg, #ef9d1a 10.76%, #fd047c 94.55%);
  border-radius: 10px;
}

#followContainer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 100000;
  left: 100vw;
  -webkit-transition: left 1s;
  transition: left 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  background-color: #0f0b2e;
  width: 100%;
  padding: 25px;
}

#followContainer button {
  border: none;
  border-radius: 10px;
  background: linear-gradient(63.8deg, #ef9d1a 10.76%, #fd047c 94.55%);
  padding: 3px;
}

#followContainer #usersWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  color: #eeeeee;
  gap: 10px;
}

#followContainer #usersWrapper #userDiv {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 100%;
  height: 100px;
  cursor: pointer;
}

#followContainer #usersWrapper #userDiv img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

#followContainer #usersWrapper #userDiv button, #followContainer #usersWrapper #userDiv div {
  width: 70px;
  -webkit-transition: background 0.5s ease-in;
  transition: background 0.5s ease-in;
}

#followContainer #usersWrapper #userDiv button#noGradient {
  background: #1c1452;
}

#settingsWindow {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 100000;
  left: 100vw;
  -webkit-transition: left 1s;
  transition: left 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  background-color: #0f0b2e;
  z-index: 100;
}

#settingsWindow #settingsForm {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (35px)[8];
      grid-template-rows: repeat(8, 35px);
  gap: 5px;
  width: 100%;
  padding: 25px;
}

#settingsWindow #settingsForm div:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
}

#settingsWindow #settingsForm div:nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
}

#settingsWindow #settingsForm div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  padding: 2px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  border: 1px solid black;
  border-radius: 5px;
}

#settingsWindow #settingsForm div label {
  font-family: "Mulish", sans-serif;
  font-size: 12px;
}

#settingsWindow #settingsForm div input {
  border: none;
  width: 100%;
  padding: 0;
}

#settingsChangePic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
  z-index: 100;
}

#settingsChangePic img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#settingsChangePic div {
  position: absolute;
  margin-left: 70px;
  margin-top: 75px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffb700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#settingsChangePic div img {
  width: 50%;
  height: 50%;
}

#changeProfileWindow {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 100000;
  left: 100vw;
  -webkit-transition: left 1s;
  transition: left 1s;
  background-color: #0f0b2e;
}

#closeTab {
  width: 30px;
  height: 30px;
}

#profileWrapper {
  width: 100%;
  z-index: 15;
  padding: 10px 25px;
  padding-bottom: 90px;
  -webkit-transition: height 1s;
  transition: height 1s;
}

#profileWrapper #watchlistContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  position: relative;
}

#profileWrapper #watchlistContainer button {
  border-radius: 10px;
  border: none;
  padding: 5px;
  color: #eeeeee;
  background: linear-gradient(63.8deg, #ef9d1a 10.76%, #fd047c 94.55%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: none;
          filter: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 150px;
}

#profileWrapper #watchlistContainer button:first-child {
  bottom: -35px;
}

#profileWrapper #watchlistContainer button:last-child {
  bottom: -70px;
}

#messageWhenEmpty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  height: 15vh;
  width: 100%;
}

#messageWhenEmpty p {
  text-align: center;
}

#messageWhenEmpty button {
  border: none;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  border-radius: 10px;
  padding: 5px 25px;
  background: linear-gradient(63.8deg, #ef9d1a 10.76%, #fd047c 94.55%);
  color: #eeeeee;
}

#overlay-profile {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
}
/*# sourceMappingURL=userProfile.css.map */