#pWrapper {
  width: 100%;
  margin-top: 60px;
  position: relative;
  z-index: 200;
  height: calc(100vh - 60px);
}

#topWrapperProfile {
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0px 25px;
  padding-bottom: 10px;
  color: #eeeeee;
}

#profilePic {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
}

#profilePic div {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}

#profileInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#profileInfo #usernameDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  padding-bottom: 5px;
  width: 100%;
  padding: 10px 10px 10px 25px;
}

#profileInfo #usernameDiv p {
  padding: 0;
}

#profileInfo #usernameDiv #settingOrPlus {
  gap: 4px;
}

#profileInfo #usernameDiv #settingOrPlus p {
  font-family: "Mulish", sans-serif;
  font-size: 12px;
  padding: 0;
}

#profileInfo .follow {
  padding: 10px;
  border-radius: 30px;
  border: 0;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  color: #eeeeee;
  background: linear-gradient(63.8deg, #ef9d1a 10.76%, #fd047c 94.55%);
  -webkit-filter: drop-shadow(0px 0px 2px rgba(239, 157, 26, 0.58));
          filter: drop-shadow(0px 0px 2px rgba(239, 157, 26, 0.58));
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#profileInfo .unfollow {
  padding: 10px;
  border-radius: 30px;
  border: 0;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  color: #eeeeee;
  background: #1c1452;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#profileInfo #followInfo {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#profileInfo #followInfo #followersDiv,
#profileInfo #followInfo #followingDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#profileInfo #followInfo #followersDiv p,
#profileInfo #followInfo #followingDiv p {
  margin: 0;
}

#followInfo {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#followInfo #followersDiv,
#followInfo #followingDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#followInfo #followersDiv p,
#followInfo #followingDiv p {
  margin: 0;
}

#profileNav {
  z-index: 15;
  color: #eeeeee;
  width: calc(100% - 50px);
  height: 50px;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  overflow: hidden;
  background-color: #1c1452;
  margin: 0px auto;
  margin-bottom: 10px;
}

#profileNav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
}

#profileNav .selected {
  background: linear-gradient(63.8deg, #ef9d1a 10.76%, #fd047c 94.55%);
  border-radius: 30px;
}

#followContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100000;
  left: 100vw;
  -webkit-transition: left 1s;
  transition: left 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  background-color: #0f0b2e;
  width: 100%;
  padding: 25px;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

#followContainer #usersWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  color: #eeeeee;
  gap: 10px;
  margin-top: 60px;
}

#followContainer #usersWrapper #userDiv {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 100%;
  height: 100px;
  cursor: pointer;
}

#followContainer #usersWrapper #userDiv .userProfilePic {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

#followContainer #usersWrapper #userDiv button {
  margin-left: auto;
}

#followContainer #usersWrapper #userDiv button p {
  margin-right: 5px;
}

#followContainer #usersWrapper #userDiv button.follow {
  padding: 10px;
  border-radius: 30px;
  border: 0;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  color: #eeeeee;
  background: linear-gradient(63.8deg, #ef9d1a 10.76%, #fd047c 94.55%);
  -webkit-filter: drop-shadow(0px 0px 2px rgba(239, 157, 26, 0.58));
          filter: drop-shadow(0px 0px 2px rgba(239, 157, 26, 0.58));
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  padding: 5px 5px 5px 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#followContainer #usersWrapper #userDiv button.unfollow {
  padding: 10px;
  border-radius: 30px;
  border: 0;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  color: #eeeeee;
  background: #1c1452;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  padding: 5px 5px 5px 10px;
}

#closeTab {
  position: absolute;
  z-index: 10000;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#profileWrapper {
  width: 100%;
  z-index: 15;
  padding: 0px 25px;
  padding-bottom: 200px;
  height: calc(100vh - 250px);
  -webkit-transition: height 1s;
  transition: height 1s;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

#profileWrapper #watchlistContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  position: relative;
}

#messageWhenEmpty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  height: 15vh;
  width: 100%;
}

#messageWhenEmpty p {
  text-align: center;
}

#messageWhenEmpty button {
  border: none;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  border-radius: 30px;
  padding: 5px 25px;
  background: linear-gradient(63.8deg, #ef9d1a 10.76%, #fd047c 94.55%);
  color: #eeeeee;
}

#overlay-profile {
  position: absolute;
  min-height: 100vh;
  width: 100vw;
  z-index: 15000;
}

#settingsWindow {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100000;
  left: 100vw;
  -webkit-transition: left 1s;
  transition: left 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 25px;
  background-image: url("../icons/background-m-profile.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 100000;
  overflow-y: scroll;
}

#settingsWindow #closeTab {
  margin: 25px;
}

#settingsForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 25px;
  width: 100%;
}

#settingsForm #informationForm {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 100%;
}

#settingsForm #informationForm #errorIcon {
  opacity: 0.8;
  position: absolute;
  right: 10px;
}

#settingsForm #informationForm #errorMessage {
  position: absolute;
  background: rgba(255, 255, 255, 0.48);
  padding: 10px;
  border-radius: 15px;
  right: 38px;
  font-family: "Mulish", sans-serif;
  font-size: 12px;
}

#settingsForm #providersForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border: none;
}

#settingsForm #providersForm select,
#settingsForm #providersForm option {
  color: #eeeeee;
}

#settingsForm #providersForm select,
#settingsForm #providersForm .searchProvider {
  width: 100%;
  height: 35px;
  padding: 5px;
  background-color: #1c1452;
  border: none;
  border-radius: 30px;
}

#settingsForm #providersForm #fieldSetProviders {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  font-family: "Mulish", sans-serif;
  font-size: 12px;
  width: 100%;
  border: none;
  max-height: 65vh;
  overflow-y: scroll;
}

#settingsForm #providersForm #fieldSetProviders .providersLabel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 80px;
}

#settingsForm #providersForm #fieldSetProviders .providersLabel img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

#settingsForm #providersForm .providersLabel.selectedProvider {
  background-color: #1c1452;
  border-radius: 5px;
}

#settingsForm #input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  padding: 5px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  border: 1px solid black;
  border-radius: 30px;
  background-color: #1c1452;
  -webkit-transition: border 1s;
  transition: border 1s;
}

#settingsForm #input label {
  font-family: "Mulish", sans-serif;
  font-size: 12px;
  margin-left: 10px;
}

#settingsForm #input input {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  border: none;
  width: 100%;
  padding: 0 10px;
  background: none;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

#settingsForm #buttonWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

#settingsForm button {
  font-family: "Archivo", sans-serif;
  font-size: 15px;
  background: linear-gradient(63.8deg, #ef9d1a 10.76%, #fd047c 94.55%);
  padding: 10px;
  border-radius: 30px;
  border: none;
}

#settingsChangePic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  padding: 25px 25px 0 25px;
  margin-top: 25px;
  width: 100%;
  position: relative;
  z-index: 100;
}

#settingsChangePic div:first-child {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

#settingsChangePic div:last-child {
  position: absolute;
  margin-left: 70px;
  margin-top: 75px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: linear-gradient(63.8deg, #ef9d1a 10.76%, #fd047c 94.55%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#settingsChangePic div:last-child img {
  width: 50%;
  height: 50%;
}

#changeProfilePicWindow {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100000;
  left: 100vw;
  -webkit-transition: left 1s;
  transition: left 1s;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  background-image: url("../icons/background-m-profile.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

#changeProfilePicWindow #profilePicFormDiv {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  top: 50px;
  overflow: hidden;
  padding: 25px;
}

#changeProfilePicWindow #closeTab {
  z-index: 10001;
}

#responseDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(15, 11, 46, 0.5);
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

#responseDiv p {
  background-color: #0f0b2e;
  padding: 20px;
  border-radius: 5px;
}

#overlay-profile {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
}

.statsP {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
}

.container .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: black;
  position: absolute;
  z-index: 20000;
  max-width: 150px;
  right: 0;
  bottom: -68px;
  padding: 10px;
}

.container .options button {
  border: none;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  border-radius: 30px;
  padding: 5px;
  background: linear-gradient(63.8deg, #ef9d1a 10.76%, #fd047c 94.55%);
  color: #eeeeee;
  margin-top: 5px;
}

#deleteAccountBtn {
  padding: 10px;
  border-radius: 30px;
  border: 0;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  color: #eeeeee;
  background: #1c1452;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  color: #d20000;
  margin: 0 auto 25px;
}

.swal-overlay {
  z-index: 100001;
  background-color: rgba(49, 49, 49, 0.4);
}

.swal-modal {
  background-color: #0f0b2e;
}

.swal-title {
  margin: 25px;
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #eeeeee;
}

.swal-footer {
  margin: 25px;
}

.swal-button-container .swal-button {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  border: none;
  color: #eeeeee;
  border-radius: 30px;
}

.swal-button-container .swal-button--cancel {
  background-color: #1c1452;
}

.swal-button-container .swal-button--confirm {
  background: linear-gradient(63.8deg, #ef9d1a 10.76%, #fd047c 94.55%);
}

@-webkit-keyframes marginScale {
  0% {
    margin-bottom: 0px;
  }
  100% {
    margin-bottom: 45px;
  }
}

@keyframes marginScale {
  0% {
    margin-bottom: 0px;
  }
  100% {
    margin-bottom: 45px;
  }
}

@-webkit-keyframes marginScaleReverse {
  0% {
    margin-bottom: 90px;
  }
  100% {
    margin-bottom: 0px;
  }
}

@keyframes marginScaleReverse {
  0% {
    margin-bottom: 90px;
  }
  100% {
    margin-bottom: 0px;
  }
}

@-webkit-keyframes scaleFromZero {
  0% {
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes scaleFromZero {
  0% {
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
}

@-webkit-keyframes scaleFromNormal {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.8, 0.5);
            transform: scale(0.8, 0.5);
    opacity: 0;
  }
}

@keyframes scaleFromNormal {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.8, 0.5);
            transform: scale(0.8, 0.5);
    opacity: 0;
  }
}
/*# sourceMappingURL=userProfile.css.map */