// COLORS - ska ändras till rätt senare
$backgroundColor: white;
$mainColor: #0F0B2E;
$accentColor: #ffb700;
$fontColor: black;
$headerFont: 'Archivo', sans-serif;
$bodyFont: 'Mulish', sans-serif;

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Mulish&family=Nunito+Sans&family=Source+Sans+Pro&display=swap');


// Margins and stuff
$padding: 10px;

// FUNCTIONS

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin profilePicture($height, $width) {
    width: $width;
    height: $height;
    border-radius: 50%;
}

@mixin transitionFromLeft() {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 10;
    
    left: 100vw;
    transition: left 1s;
}


// FONTS
    
@mixin bigTitleFont() {
    font-family: 'Arial';
    font-size: 1.5rem;
}

@mixin smallTitleFont() {
    font-family: 'Arial';
    font-size: 1.2rem;
}

@mixin bodyFont() {
    font-family: 'Arial';
    font-size: 0.9rem;
}

@mixin postFont() {
    font-family: 'Arial';
    font-size: 0.7rem;
}

@mixin smallFont() {

}

@mixin xSmallFont() {
    font-family: 'Arial';
    font-size: 0.5rem;
}