// FONTS
@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Mulish&family=Nunito+Sans&family=Source+Sans+Pro&display=swap");

// COLORS - ska ändras till rätt senare
$backgroundColor: #0f0b2e;
$activityColor: #6F6D82;
$mainColor: #361986;
$accentColor: #ffb700;
$darkFont: black;
$lightFont: #eeeeee;
$gradientPeach: linear-gradient(63.8deg, #ef9d1a 10.76%, #fd047c 94.55%);
$headerFont: "Archivo", sans-serif;
$bodyFont: "Mulish", sans-serif;

// Margins and stuff
$wrapperPadding: 25px;
$buttonPadding: 3px;
$innerPadding: 5px;
$betweenPadding: 10px;
$titlePadding: 5px;

//Borders and radius
$borderRadiusButtons: 10px;
$borderRadiusObjects: 5px;
$borderRadiusNav: 8px;
$boxShadow: 3px;

// FUNCTIONS

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin profilePicture($height, $width) {
  width: $width;
  height: $height;
  border-radius: 50%;
}

// Transitions

@mixin transitionFromLeft() {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 100000;

  left: 100vw;
  transition: left 1s;
}

@mixin transitionFromBottom() {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 100000;

  top: 100vh;
  transition: top 1.5s;
}



// FONTS

@mixin bigTitleFont() {
    font-family: $headerFont;
    font-size: 18px;
    font-weight: bold;
}

@mixin smallTitleFont() {
    font-family: $headerFont;
    font-size: 16px;
    padding-bottom: $innerPadding;
}

@mixin bodyFont() {
    font-family: $bodyFont;
    font-size: 14px;
    line-height: 1.4;
}

@mixin postFont() {
  font-family: $headerFont;
  font-size: 15px;
}
// ------------------------

@mixin xSmallFont() {
    font-family: $bodyFont;
    font-size: 10px;
}
